
.clusterItemContainer {
   --cluster-gap: var(--main-spacing);
   --cluster-item-size: calc( (100% - 2 * var(--cluster-gap)) / 3 );
   --mouseOver-timer: 0.3s;

   width: var(--cluster-item-size);
   max-height: 286px;
   aspect-ratio: 1.618;
   border-radius: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   transition: all 1s;
   position: relative;
   box-sizing: border-box;
}

.clusterItemContent {
   width: 100%;
   height: 100%;
   opacity: 1;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
}

.clusterItemContent img { opacity: 1; transition: all var(--mouseOver-timer); }
.clusterItemContent.mouseOver img { opacity: 0; }

.topContent {
   position: absolute;
   bottom: 55%;
   left: 0;
   right: 0;
   text-align: center;
   opacity: 1;
   font-weight: bold;
   transition: all var(--mouseOver-timer);
}

.topContent h1 { font-size: 28px; margin: 0px; padding: 0px; }
.topContent h2 {
   font-size: 18px;
   margin: 0px;
   padding: 0px;
   color: var(--color-light-red);
}

.clusterItemContent:not(.mouseOver) .topContent { bottom: 155%; opacity: 0; }

.bottomContent {
   position: absolute;
   top: 45%;
   left: 0;
   right: 0;
   text-align: center;
   opacity: 1;
   transition: all var(--mouseOver-timer);
}

.clusterItemContent:not(.mouseOver) .bottomContent { top: 145%; opacity: 0; }

.bottomContent p {
   padding: 0 20px;
}

@media screen and (max-width: 1000px) {
   .clusterItemContainer {
      --cluster-gap: var(--secondary-spacing);
      --cluster-item-size: calc( (100% - var(--cluster-gap)) / 2 );
      width: var(--cluster-item-size);
   }
}

@media screen and (max-width: 550px) {
   .clusterItemContainer { width: 100%; margin: 0 12px; }
}