
.contentSquare {
   --mouseOver-timer: 0.3s;
   width: calc(100% / 3.0);
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 1s;
   position: relative;
   overflow: hidden;
}

.content {
   background: white;
   width: 100%;
   height: 100%;
   opacity: 1;
   animation: reappear 0.5s;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}

.content.hidden {
   width: 0px;
   height: 0px;
   opacity: 0;
   animation: disappear 0.5s;
}

.content img { opacity: 1; transition: all var(--mouseOver-timer); }
.content.mouseOver img { opacity: 0; }

@keyframes disappear {
   from {
      width: 100%;
      height: 100%;
      opacity: 1;
   }
   to {
      width: 0;
      height: 0;
      opacity: 0;
   }
}

@keyframes reappear {
   from {
      width: 0;
      height: 0;
      opacity: 0;
   }
   99% {
      width: 100%;
      height: 100%;
      opacity: 0;
   }
   to {
      width: 100%;
      height: 100%;
      opacity: 1;
   }
}


.topContent {
   position: absolute;
   top: 50px;
   left: 0;
   right: 0;
   text-align: center;
   opacity: 1;
   transition: all var(--mouseOver-timer);
}

.content:not(.mouseOver) .topContent { top: -70px; opacity: 0; }
.content.hidden .topContent { opacity: 0; }

.topContent p {
   margin: 0px;
   padding: 0px;
   color: var(--ncsu-light-red);
}

.topContent h1 {
   margin: 0px;
   padding: 0px;
   color: var(--ncsu-dark-gray);
}

.bottomContent {
   position: absolute;
   bottom: 70px;
   left: 0;
   right: 0;
   text-align: center; 
   opacity: 1;
   transition: all var(--mouseOver-timer);
}

.content:not(.mouseOver) .bottomContent { bottom: -70px; opacity: 0; }
.content.hidden .bottomContent{ opacity: 0; }

.bottomContent .learnMoreButton {
   padding: 8px 16px;
   margin-left: auto;
   margin-right: auto;
   width: 110px;
   border: 2px solid var(--ncsu-light-red);
   cursor: pointer;
   transition: all 0.5s;
}
.bottomContent .learnMoreButton:hover {
   background: var(--ncsu-light-red);
   color: white;
}