body, html, a {
   margin: 0px;
   padding: 0px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Roboto', sans-serif;
   color: var(--ncsu-dark-gray);
}


/* ----- globals ----- */
:root {
   --ncsu-dark-red: #900;
   --ncsu-light-red: #c00;
   --ncsu-dark-gray: #333;
   --ncsu-mid-gray: #555;
   --ncsu-light-gray: #cacaca;
   --main-spacing: 20px;
   --main-padding: 20px;
   --main-background: #f5f5f5;

   --color-charcoal: #404e5c;
   --color-green-sheen: #7eb09b;
   --color-black-coral: #4f6272;
   --color-antique-brass: #b89685;
   --color-magnolia: #f7f0f5;
   --color-lilac-luster: #af929d;
   --color-unbleached-silk: #f9dad0; 

   --contentPage-width: 1000px;
   --contentPage-height: calc(0.7 * 100vh);
}

/* remove text selection */
.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

/* remove scrollbar */
.noscrollbar {
   scrollbar-width: none;
   -ms-overflow-style: none;
}
.noscrollbar::-webkit-scrollbar {
   display: none;
}

/* ----- layout troubleshooting (uncomment to view all borders) ----- */
/* * {
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;
} */


/* ----- content containers ----- */
.mainContainer {
   display: grid;
   grid-template-rows: auto auto 1fr;
   height: 100vh;
   overflow: auto;
}

.mainContainer.snap {
   scroll-behavior: smooth;
   scroll-snap-type: y mandatory;
}

.contentContainer {
   width: 1000px;
   margin: auto;
   height: 100%;
   box-sizing: border-box;
}