
.nucleoItemContainer {
   --size: 60px;
   --border: 2px;
   --base-color: #2e2e2e;
   --base-highlight: rgba(100, 100, 100, 0.5);
   --element-highlight: #3e3e3e;
   --isotope-highlight: #c22;
   
   width: var(--size);
   height: var(--size);
   border: 3px solid var(--color-black);
   content: '';
   transition: all 0.5s;
   position: relative;
   overflow: hidden;
}

.nucleoItemContainer:last-child {
   width: var(--size);
   height: var(--size);
   border: 3px solid var(--color-black);
   background: var(--color-black);
   flex: 1;
   content: '';
}

.elementContainer {
   position: absolute;
   top: var(--border);
   left: var(--border);
   right: var(--border);
   bottom: var(--border);
   content: '';
   background: var(--base-color);
   overflow: hidden;
   transition: all 0.75s;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #1e1e1e;
   font-size: 24px;
   font-weight: 900;
}

.nucleoItemContainer.mouseOver .elementContainer { background: var(--element-highlight); }

.isotopeContainer {
   position: absolute;
   top: 6px;
   left: 6px;
   color: #1e1e1e;
   font-size: 12px;
   font-weight: 900;
   transition: all 1s;
}

.protonContainer {
   position: absolute;
   bottom: 6px;
   left: 6px;
   color: #1e1e1e;
   font-size: 12px;
   font-weight: 900;
   transition: all 1s;
}

.nucleoItemContainer.mouseOver .isotopeContainer { color: rgb(125, 125, 125); } 
.nucleoItemContainer.mouseOver.stable .isotopeContainer { color: var(--isotope-highlight); } 


@media screen and (min-width: 1921px) {
   .nucleoItemContainer { --size: 84px; --border: 3px; }
   .elementContainer { font-size: 28px; }
   .isotopeContainer, .protonContainer { font-size: 14px; }
}
@media screen and (max-width: 460px) {
   .nucleoItemContainer { --size: 48px; }
   .elementContainer { font-size: 20px; }
   .isotopeContainer { left: 4px; bottom: 4px; font-size: 10px; }
   .protonContainer { left: 4px; top: 4px; font-size: 10px; }
}