
.buttonGroup {
   display: grid;
   grid-template-columns: auto 1fr;
   grid-gap: 6px;
   width: 100%;
}

.button {
   color: var(--ncsu-dark-gray);
   width: 100%;
   padding: 12px 0px;
   border: 1px solid var(--ncsu-dark-gray);
   box-sizing: border-box;
   text-align: center;
   font-weight: bold;
   cursor: pointer;
   background: var(--ncsu-light-gray);
   transition: background 0.2s;
}

.button.header {
   background: var(--color-charcoal); 
   color: white;
   cursor: default; 
   width: 125px;
}
.button.active { background: #999; }
.button:not(.active):not(.header):hover { background: #bbb; }

.buttonGroup:not(:first-child) .button { border-top: none; }
.button:not(:first-child) { border-left: none; }