
.sectionContainer {
   box-sizing: border-box;
   padding: 100px 0;
   position: relative;
}

.section {
   display: flex;
   flex-direction: column;
   height: auto;
   margin: 0;
   padding: 0;
}

@media only screen and (max-width: 550px) {
   .sectionContainer { max-height: 2160px !important; }
}