
/* ----- main display ----- */
.nucleodisplayContainer {
   position: absolute;
   top: 0px;
   left: 10px;
   right: 0px;
   bottom: 50px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-end;
   z-index: 1;
   overflow: hidden;
}

.flexFill {
   content: '';
   background: var(--color-black);
   flex: 1;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.nucleodisplayRow {
   display: flex;
   min-width: 100%;
}


/* ----- spotlight ----- */
.spotlightContainer { 
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #2e2e2e;
}


/* ----- learn more ----- */
.learnMore { 
   background: #1e1e1e; 
   z-index: 100;
   display: flex; flex-direction: column; align-items: flex-end;
}

.learnMore div {
   margin: 0; 
   padding: 0; 
   font-size: 14px; 
   text-align: right;
   color: #aaa;
   color: #aaa;
   transition: all 0.5s;
}

.learnMore:hover div { color: #933; }