
.imageContainer { composes: imageContainer from '../../index.module.css'; }
.contentContainer { composes: contentContainer from '../../index.module.css'; }
.center { composes: center from '../../index.module.css'; }

.contentContainer {
   display: flex;
   flex-direction: column;
}

@media only screen and (max-width: 500px) {
   .contentContainer { padding: 30px 0; }
   .contentContainer h1 { margin: 0 30px; }
   .contentContainer p { padding: 0 30px; text-align: left; }
}

.contentContainer h1 {
   margin-bottom: 12px;
}

.buttonContainer {
   display: flex;
   justify-content: center;
   margin: 12px auto;
   border-style: double none;
   border-color: var(--ncsu-dark-gray);
}
.interactButton {
   cursor: pointer;
   padding: 8px 16px;
   transition: all 0.2s;
   width: 75px;
   text-align: center;
   position: relative;
}

.interactButton:not(:last-child)::after {
   display: block;
   content: '';
   position: absolute;
   top: 20%;
   right: 0;
   width: 1px;
   height: 60%;
   background: var(--ncsu-dark-gray);
}

.interactButton.hidden { visibility: hidden; }

/* .interactButton:not(.active):hover { color: var(--color-primary); }
.interactButton.active { color: var(--color-primary); } */