
.formContainer {
   --max-width: 800px;
   min-width: min( calc(100% - 24px), 430px);
   max-width: var(--max-width);
   padding: 0 12px;
   margin: 0 auto;
}

@media only screen and (max-device-width: 460px) {
   .formContainer, .messageInput {
      min-width: 300px !important;
      max-width: 300px !important;
   }
}

form {
   display: grid;
   grid-template-columns: 100px 1fr 1fr 100px;
   grid-column-gap: 6px;
   grid-row-gap: 6px;
}

.nameInput {
   grid-column-start: 1;
   grid-column-end: 3;
}
.nameInput input {
   width: 100%;
   box-sizing: border-box;
}

.emailInput {
   grid-column-start: 3;
   grid-column-end: 5;
}
.emailInput input {
   width: 100%;
   box-sizing: border-box;
}

.messageInput {
   grid-column-start: 1;
   grid-column-end: 5;
}
.messageInput textarea {
   box-sizing: border-box;
   margin: 0;
   padding: 4px;
   width: 600px;
   min-width: min( 100%, 430px);
   max-width: var(--max-width);
   min-height: 5.75em;
   max-height: 13.5em;
}

.nameInput.inactive,
.emailInput.inactive,
.messageInput.inactive { color: #757575; }

.submitButton { 
   grid-column-start: 1;
   grid-column-end: 2;
   margin: 0;
   cursor: pointer;
   padding: 8px 16px;
   text-align: center;
   background: #bbb;
   border-radius: 3px;
   transition: all 0.2s;
}

.submitButton:hover { background: #aaa; }