
.headerContainer {
   margin: 0 0 40px 0;
   text-align: center;
}

h1.style1 {
   color: #1e1e1e;
   position: relative;
   margin: 0;
   font-size: 36px;
}


.footer {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   height: 25%;
   content: '';
   background: var(--color-black);
   color: var(--color-white);
   text-align: center;
   font-weight: 900;
   padding: 20px;
}

.footer a svg{
   margin: 12px 12px;
   margin-top: 0;
}

.footer .resume { margin: 6px; }
.footer .resume a { text-decoration: none; color: var(--color-white); }

.footer .copyright {
   position: relative;
   margin: 50px auto 0 auto;
}

@media only screen and (max-width: 500px) {
   .footer { height: 20%; font-size: 14px; padding: 12px; }
   .footer .resume { margin: 0px; }
   .footer .copyright { margin: 12px auto; }
}