
/* ----- TODO ----- */

/* eventually need to make base button
   class, so button1/button2/etc inherit
   majority of properties... */

.buttonContainer {
   --button-width: 146px;
   position: relative;
   cursor: pointer;
   width: var(--button-width);
   box-sizing: border-box;
   text-align: center;
   margin: 0 auto;
}

/* ----- style1.js ------ */
.normalButton1 {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding: 8px 16px;
   width: var(--button-width);
   border: 2px solid #38388f;
   margin: auto;
   box-sizing: border-box;
}

.hoverButton1 {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding: 8px 16px;
   width: var(--button-width);
   border: 2px solid #38388f;
   margin: auto;
   background: #38388f;
   color: white;
   clip-path: polygon(-120% 0, -20% 0, 0% 100%, -100% 100%);
   transition: all 0.5s;
   box-sizing: border-box;
}

.hoverButton1.hover {
   clip-path: polygon(-20% 0%, 100% 0%, 120% 100%, 0% 100%);
}


/* ----- style2.js ----- */
.normalButton2 {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   padding: 8px 16px;
   width: var(--button-width);
   border: 2px solid #38388f;
   margin: auto;
   border-radius: 16px;
   box-sizing: border-box;
}

.hoverButton2 {
   position: absolute;
   border-radius: 16px;
   top: 0;
   left: 0;
   right: 0;
   padding: 8px 16px;
   width: var(--button-width);
   border: 2px solid #38388f;
   margin: auto;
   background: #0080a7;
   color: white;
   /* clip-path: polygon(0% -100%,   100% 0%,   100% 0%,   0% 0%); */
   clip-path: circle(25% at -25% 50%);
   transition: all 1.0s;
   box-sizing: border-box;
}

.hoverButton2.hover {
   /* clip-path: polygon(0% 100%,   100% 200%,   100% 0%,   0% 0%); */
   clip-path: circle(25% at 100% 50%);
}

.extraButton2 {
   position: absolute;
   border-radius: 16px;
   top: 0;
   left: 0;
   right: 0;
   padding: 8px 16px;
   width: var(--button-width);
   border: 2px solid #38388f;
   margin: auto;
   background: #38388f;
   color: white;
   clip-path: circle(25% at -35% 50%);
   transition: all 1.0s;
   box-sizing: border-box;
}

.extraButton2.hover {
   clip-path: circle(25% at 90% 50%);
}

.coverButton2 {
   position: absolute;
   border-radius: 16px;
   top: 0;
   left: 0;
   right: 0;
   padding: 8px 16px;
   width: var(--button-width);
   border: 2px solid #38388f;
   margin: auto;
   background: #38388f;
   color: white;
   clip-path: polygon(0% 0%,   -35% 0%,    -35% 100%,    0% 100%);
   transition: all 1.0s;
   box-sizing: border-box;
}

.coverButton2.hover {
   clip-path: polygon(0% 0%,   90% 0%,    90% 100%,    0% 100%);
}