
/* ----- index.js ----- */
.header { scroll-snap-align: start; }

.header h1 {
   margin: 0px;
   padding: 0px;
   padding-top: 12px;
   font-size: 36px;
   font-weight: 900;
   color: var(--ncsu-dark-red);
}

.header h2 {
   margin: 0px;
   padding: 12px 60px;
   font-size: 16px;
   font-weight: bold;
   padding-top: 6px;
}

/* ----- navbar.js ----- */
.navSpacer {
   width: 100%;
   height: 38px;
   content: '';
   background: var(--main-background);
}

.navContainer {
   background: var(--ncsu-dark-gray);
   border-bottom: 3px solid var(--ncsu-light-red);
}

.navContainer.static {
   --stick-timer: 0.5s;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   animation: stick var(--stick-timer) ease-in-out;
}

@keyframes stick {
   from { transform: translateY(-35px); }
   to { transform: translateY(0px); }
}

.navbar {
   display: flex;
}

.navbar .link {
   color: white;
   margin: 0px;
   padding: 8px 16px;
   width: 75px;
   cursor: pointer;
   text-align: center;
   transition: all 0.2s;
}

.navbar .link.active { background: var(--ncsu-light-red); }
.navbar .link:hover:not(.active) { background: var(--ncsu-dark-red); }

.brand {
   color: white;
   padding: 8px 16px;
   margin-left: auto;
   flex: end;
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s;
}

.static .brand {
   visibility: visible;
   opacity: 1;
   transition: all 1.5s;
}