
.nucleoItemContainer {
   --size: 60px;
   --base-color: #2e2e2e;
   --base-highlight: rgba(80, 80, 80, 0.5);
   --element-highlight: #3e3e3e;
   --isotope-highlight: #900;
   box-sizing: border-box;
   width: var(--size);
   height: var(--size);
   content: '';
   transition: all 0.5s;
   position: relative;
   overflow: hidden;
   background: var(--base-color);
}

.nucleoItemContainer:not(.disable) .border {
   position: absolute;
   top: -400%;
   left: -400%;
   right: -400%;
   bottom: -400%;
   content: '';
   background: radial-gradient(var(--base-highlight) 0%, rgba(0, 0, 0, 0) 75%);
   transform: translate(var(--x), var(--y));
}

.nucleoItemContainer.stable .border { background: radial-gradient(rgba(125, 30, 30, 0.5) 0%, rgba(0, 0, 0, 0) 75%); }
/* .nucleoItemContainer.beta::before { background: radial-gradient(rgba(125, 75, 30, 0.5) 0%, rgba(0, 0, 0, 0) 75%); }
.nucleoItemContainer.alpha::before { background: radial-gradient(rgba(125, 30, 75, 0.5) 0%, rgba(0, 0, 0, 0) 75%); }
.nucleoItemContainer.EC::before { background: radial-gradient(rgba(75, 30, 75, 0.5) 0%, rgba(0, 0, 0, 0) 75%); } */

.elementContainer {
   position: absolute;
   top: 2px;
   left: 2px;
   right: 2px;
   bottom: 2px;
   content: '';
   background: var(--base-color);
   overflow: hidden;
   transition: all 1.0s;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #1e1e1e;
   font-size: 24px;
   font-weight: 900;
}

.nucleoItemContainer.mouseOver .elementContainer { background: var(--element-highlight); }

.isotopeContainer {
   position: absolute;
   bottom: 6px;
   left: 6px;
   color: #1e1e1e;
   font-size: 12px;
   font-weight: 900;
   transition: all 1s;
}

.protonContainer {
   position: absolute;
   top: 6px;
   left: 6px;
   color: #1e1e1e;
   font-size: 12px;
   font-weight: 900;
   transition: all 1s;
}

.nucleoItemContainer.mouseOver .isotopeContainer { color: rgb(125, 125, 125); } 
.nucleoItemContainer.mouseOver.stable .isotopeContainer { color: var(--isotope-highlight); } 
/* .nucleoItemContainer:hover.beta .isotopeContainer { color: rgba(30, 30, 125, 1.0); } 
.nucleoItemContainer:hover.alpha .isotopeContainer { color: rgba(30, 75, 125, 1.0); }  */




@media screen and (min-width: 1921px) {
   .nucleoItemContainer { --size: 84px; }
}
@media screen and (max-width: 460px) {
   .nucleoItemContainer { --size: 48px; }
   .elementContainer { font-size: 20px; }
   .isotopeContainer { left: 4px; bottom: 4px; font-size: 10px; }
   .protonContainer { left: 4px; top: 4px; font-size: 10px; }
}