
.aboutContainer {
   --color-percentContainer: #fbf9ff;

   color: var(--color-white);
}

.introContainer {
   text-align: center;
   margin-bottom: 100px;
   color: var(--color-black);
}

.introContainer h1 {
   font-weight: 100;
   font-size: 40px;
   transform: translateX(500px); 
   transition: transform 1.0s;
}
.introContainer.active h1 { transform: translateX(0px); }

.introContainer p { visibility: hidden; }

.introContainer.active p {
   margin: 0;
   padding: 2px 12px;
   font-size: 20px;
   opacity: 0;
   visibility: hidden;
   animation: 0.5s var(--delay) 1 reveal;
   -moz-animation: 0.5s var(--delay) 1 reveal;
   -webkit-animation: 0.5s var(--delay) 1 reveal;

   animation-fill-mode: forwards;
   -moz-animation-fill-mode: forwards;
   -webkit-animation-fill-mode: forwards;
}

.introContainer .test {
   padding: 2px 20px;
}

.introContainer .test p {
   display: inline;
   padding: 0 3px;
}

@keyframes reveal {
   from { opacity: 0; 
      visibility: hidden;}
   to { opacity: 1; 
      visibility: visible;}
}




.flexColumns {
   --gap: 20px;
   box-sizing: border-box;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: var(--gap);
   padding: 0 var(--gap);
}

.card {
   color: var(--color-primary);
   box-sizing: border-box;
   width: calc( (100% - 2 * var(--gap)) / 3 );
   padding: 20px;
   padding-right: 12px;
   border-radius: 12px;
   max-width: 475px; 
   position: relative;
   overflow: hidden;
   background: repeating-linear-gradient(
      45deg,
      var(--color-primary) 0px,
      var(--color-primary) 2px,
      var(--color-white) 2px,
      var(--color-white) 6px
   );
}

.card::after {
   position: absolute;
   top: -12px;
   left: 12px;
   right: 4px;
   bottom: 12px;
   content: '';
   border-radius: 12px;
   z-index: 0;
   background: var(--color-white);
}

.card h1 {
   position: relative;
   margin: 0;
   padding: 0;
   padding-bottom: 2px;
   font-size: 24px;
   border-bottom: 2px solid var(--color-primary);
   text-align: center;
   margin-bottom: 12px;
   z-index: 1;
}

.card .cardItem {
   position: relative;
   margin: 6px 0px;
   padding: 4px 6px;
   background: var(--color-primary);
   color: var(--color-primary);
   font-weight: 700;
   z-index: 2;
   background: repeating-linear-gradient(
      45deg,
      var(--color-primary) 0px,
      var(--color-primary) 2px,
      var(--color-white) 2px,
      var(--color-white) 6px
   );
}

/* .card .cardItem {
   position: relative;
   margin: 6px 0px;
   padding: 4px 6px;
   background: var(--color-white);
   color: var(--color-white);
   font-weight: 400;
   z-index: 2;
} */

.card .cardItem:last-child { margin-bottom: 0; }

.card:first-child .cardItem:last-child { border-radius: 0 0 6px 0; }

@media screen and (max-width: 1200px) {
   .card { width: calc( (100% - var(--gap)) / 2 ); }
   .card:last-child .cardItem:last-child { border-radius: 0 0 6px 0; }
}

@media screen and (max-width: 750px) {
   .card { width: 100%; }
   .card .cardItem:last-child { border-radius: 0 0 6px 0; }
}

.cardItem > * { position: relative; z-index: 2; }

.percentContainer {
   position: absolute;
   top: 2px;
   left: 2px;
   bottom: 2px;
   width: 0;
   background: var(--color-percentContainer);
   content: '';
   z-index: 1;
   transition: all 1.5s;
}

.card.active .percentContainer {
   width: var(--width);
   border-right: 2px solid var(--color-primary);
}



.percentContainer2 {
   position: absolute;
   right: 0;
   bottom: 0;
   top: 0;
   left: 0;
   border: 2px solid var(--color-primary);
   content: '';
   z-index: 0;
   transition: all 1.5s;
}

.card:first-child .cardItem:last-child .percentContainer2 { border-radius: 0 0 6px 0; }

/* .percentContainer {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 0;
   background: var(--color-primary);
   content: '';
   z-index: 1;
   transition: all 1.5s;
}

.card.active .percentContainer {
   width: var(--width);
}

.card.active .percentContainer2 {
   position: absolute;
   box-sizing: border-box;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   border-bottom: 2px solid var(--color-primary);
   border-top: 2px solid var(--color-primary);
   content: '';
   z-index: 100;
} */